    $primary-100:#f7cac9;
    $primary-200:#5c5c5c;
    $primary-300:#5c5c5c;
    $accent-100:#5c5c5c;
    $accent-200:#ebebeb;
    $text-100:#333333;
    $text-200:#5c5c5c;
    $bg-100:#f8e8fa;
    $bg-200:#f5f5e9;
    $bg-300:#ccccc0;